<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" id="username" placeholder="username" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="password" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <a href="javascript:;" id="submit" class="btn btn-lg btn-success btn-block">Login</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

    <script type="text/javascript">
        var cookie = {
            get_domain:function(){
                var matches = window.location.hostname.match(/([^\.]+).(com|net|me|org)$/);
                if(matches!=null){
                    return matches[1];
                }else{
                    return null;
                }
            },
            set_cookie:function(key,val,expires){
                var _this=this;
                var date = new Date();
                date.setTime(date.getTime() + 30 * 24 * 60 * 60 * 1000);
                document.cookie = key+'='+encodeURIComponent(val)+'; domain=.'+_this.get_domain()+'.com; path=/; expires='+date.toGMTString();
            },
            get_cookie:function(key){
                var value = document.cookie.match('(?:^|;)\\s*' + key + '=([^;]*)');
                return (value) ? decodeURIComponent(value[1]) : null;
            }
        };

        $('#submit').click(function(){
            if($.trim($("#username").val()) == "") {
                alert('Please fill in username');
                return;
            }
            if($.trim($("#password").val()) == "") {
                alert('Please fill in password');
                return;
            }
            $.ajax({
                type: "POST",
                url: "/login/check",
                data: {
                    "username": $('#username').val(),
                    "password": $('#password').val()
                },
                success: function(data){
                    if(data.status){
                        cookie.set_cookie("user", $('#username').val());
                        location.href = "/tables";
                    }
                    else{
                        alert("Username Password error");
                    }
                }
            });
        });
    </script>

</body>

</html>
